<div class="jumbotron">
  <ul class="contestants">
    <li>
      <a href="#/vote">
        <img src="images/headshot.jpg" alt="" class="headshot">
        <div class="container">
          <div class="jpname">ロビンス　ドルー</div>
          <div class="rname">Drew Robbins</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#/vote">
        <img src="images/headshot.jpg" alt="" class="headshot">
        <div class="container">
          <div class="jpname">ロビンス　ドルー</div>
          <div class="rname">Drew Robbins</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#/vote">
        <img src="images/headshot.jpg" alt="" class="headshot">
        <div class="container">
          <div class="jpname">ロビンス　ドルー</div>
          <div class="rname">Drew Robbins</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#/vote">
        <img src="images/headshot.jpg" alt="" class="headshot">
        <div class="container">
          <div class="jpname">ロビンス　ドルー</div>
          <div class="rname">Drew Robbins</div>
        </div>
      </a>
    </li>
    <li>
      <a href="#/vote">
        <img src="images/headshot.jpg" alt="" class="headshot">
        <div class="container">
          <div class="jpname">ロビンス　ドルー</div>
          <div class="rname">Drew Robbins</div>
        </div>
      </a>
    </li>
  </ul>
</div>
