<div class="jumbotron">
    <div class="message"> Please do not vote until after the last demo at the company meeting.</div>
  <ul class="contestants">
    <li ng-repeat="contestant in contestants">
      <a href="#/vote/{{contestant.id}}">
        <img ng-src="{{contestant.headshotUrl}}" alt="" class="headshot">
        <div class="container">
          <div class="jpname">{{contestant.jpName}}</div>
          <div class="rname">{{contestant.rName}}</div>
          <div class="voted .ng-hide" ng-show="contestant.voted">Voted</div>
        </div>
      </a>
    </li>
  </ul>
  <a ng-href="#here" ng-click="clearVotes()">Clear Votes</a>
</div>
