<div class="vote">
	<div class="jumbotron">
		<div class="contestant">
			<img src="images/headshot.jpg" alt="" class="headshot">
			<div class="container">
				<div class="jpname">ロビンス　ドルー</div>
				<div class="title">Director</div>
				<div class="department">DX</div>
			</div>
		</div>
		
		<div class="question">
			<h3>Windows 10 Value (50%)</h3>
			<div class="description">How well does this video show the great things you can do with Windows 10?</div>
			<div class="voteHere">
				<div id="captionWinValue" class="caption"></div>
				<input id="input-1" class="rating">
			</div>
		</div>
		<div class="question">
			<h3>Storytelling & Impact (50%)</h3>
			<div class="description">How well does this video show the great things you can do with Windows 10?</div>
			<div class="voteHere">
				<div id="captionStory" class="caption"></div>
				<input id="input-2" class="rating">
			</div>
		</div>
		<div class="submit">
			<button type="submit" class="btn btn-primary" ng-click="submitVote()">Vote</button>
		</div>
	</div>
</div>