<div class="vote">
	<div class="jumbotron">
		<div class="contestant">
			<img ng-src="{{contestant.headshotUrl}}" alt="" class="headshot">
			<div class="container">
				<div class="jpname">{{contestant.jpName}}</div>
				<div class="title">{{contestant.title}}</div>
				<div class="department">{{contestant.department}}</div>
			</div>
		</div>
		
		<div class="question">
			<h3>Windows 10 Value (50%)</h3>
			<div class="description">How well does this video show the great things you can do with Windows 10?</div>
			<div class="voteHere">
				<div id="captionValue" class="caption"></div>
				<input id="valueInput" class="rating">
			</div>
		</div>
		<div class="question">
			<h3>Storytelling & Impact (50%)</h3>
			<div class="description">How well does this video show the great things you can do with Windows 10?</div>
			<div class="voteHere">
				<div id="captionImpact" class="caption"></div>
				<input id="impactInput" class="rating">
			</div>
		</div>
		<div class="submit">
			<button type="submit" class="btn btn-primary" ng-click="submitVote()">Vote</button>
		</div>
	</div>
</div>